.ads-component {
    display: flex;
    flex-direction: column; /* Stack ads and pagination */
    width: 100vw; /* Adjust as needed */
    height: 100vw;
    background-color: #202020;
  }
  
  .ads-container {
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent line breaks */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .ads-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  
  .ad-image {
    height: 100vw;
    width: auto; /* Adjust image width */
    display: inline-block; /* Keep images in a row */
    margin: 0px; /* Add spacing between images */
  }
  
  .pagination {
    margin: 0px;
    display: flex;
    justify-content: center; /* Center pagination */
    width: 100%;
    background-color: rgb(223, 223, 223);
    padding: 10px;
    padding-left: 0px;
    padding-right:0px;
  }
  
  .pagination-item {
    width: 3px;
    height: 3px;
    padding: 5px;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 50px;
    color: rgba(255, 255, 255, 0);
    border: 2px solid #000000 ;
    opacity: 0.5;
  }
  
  .pagination-item.active {
    opacity: 1;
    width: 16px;
    background-color: #000000; /* Example active color */
    color: rgba(0, 0, 0, 0);
  }