.ads-component {
    display: flex;
    flex-direction: column; /* Stack ads and pagination */
    width: 100%; /* Adjust as needed */
    height: 100vw;
  }
  
  .ads-container {
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent line breaks */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .ads-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  
  .ad-image {
    height: 100vw;
    width: auto; /* Adjust image width */
    display: inline-block; /* Keep images in a row */
    margin: 0px; /* Add spacing between images */
  }
  
  .pagination {
    display: flex;
    justify-content: center; /* Center pagination */
    margin-top: 10px;
    position:relative;
    top: -50px;
    z-index: 999;
  }
  
  .pagination-item {
    width: 4px;
    height: 4px;
    padding: 5px;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 50px;
    color: rgba(255, 255, 255, 0);
    border: 2px solid #ffffff ;
  }
  
  .pagination-item.active {
    background-color: #ffffff; /* Example active color */
    color: rgba(0, 0, 0, 0);
  }