.matchcard {
    background-color: #00000073;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    overflow: hidden;
    cursor: pointer;
    margin: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .matchcard p{
    margin: 0;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.479);
  }

  .matchcard img {
    width: 100%;
    height:70vw;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .matchcard h2 {
    margin: 0;
    color: rgb(255, 255, 255);
    margin-top: 5px;
    font-size: 24px;
    font-weight:500;
  }
  
  .match-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin:0;
  }
  
  .matchcard:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .matchcard:active {
    transform: scale(0.98);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .matchcard .status{
    position:relative;
    top:-50px;
    width: fit-content;
    padding: 3px 6px;
    border-radius: 50px;
    background-color: blueviolet;
    color: white;
  }

  .matchcard .prize{
    font-size: large;
    color: rgb(255, 255, 255);
  }