/* MatchHistory.css */
.match-history {
    margin-top: 20px;
  }
  
  table {
    border-collapse: collapse;
    margin:5vw;
    width:80vw;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
    font-size: small;
    border: 1px solid #00000000;
  }
  
  th {
    background-color: #00000073; /* Header background color */
    color: rgb(255, 255, 255);

  }
  
  tbody tr:hover {
    background-color: #6709ff85; /* Highlight row on hover */
  }
  