.matchcard {
  transform: scale(0.98);
    background-color: #0000005b;
    border-radius: 15px;
   transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    overflow: hidden;
    cursor: pointer;
    margin: 15px;
    padding: 10px;
    display: flex; 
    flex-direction: column;
    width: 21vw;
    height:21vw;
  }


    /* Media query for smaller screens (mobile) */
  @media (max-width: 768px) {
      .matchcard {
        width: auto;
        height:auto
  }
    }
  
  
  .matchcard p{
    margin: 0;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.479);
  }

  .matchcard img {
    width: 100%;
    height:auto;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .matchcard h2 {
    margin: 0;
    color: rgb(255, 255, 255);
    margin-top: 5px;
    font-size: 24px;
    font-weight:500;
  }
  
  .match-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin:0;
  }
  
  .matchcard:hover {
    transform: scale(1.02);
    background-color: #000000;
    box-shadow: 0 50px 100px rgb(0, 0, 0);
  }
  
  .matchcard:active {
    transform: scale(0.98);
  }
  
  .matchcard .status{
    position:relative;
    top:-50px;
    width: fit-content;
    padding: 3px 6px;
    border-radius: 5px;
    background-color: #f1460291;
    color: white;
    margin: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .matchcard .prize{
    font-size: medium;
    color: rgb(255, 255, 255);
  }