.searchfilter{
    position: fixed;
    top:70px;
    width: 100vw;
    z-index: 999;
}
  
  .searchfilter input {
    border: none;
    padding: 10px;
    background-color: #ffffff; /* Dark background */
    color: #000000; /* White text */
    font-size: 16px;
    transition: border 0.3s ease;
    z-index: 999;
    margin:2.5vw;
    width:90vw;
    height:35px;
    border-radius: 5px;
  }
  
  .search-input::placeholder {
    color: #888; /* Lighter placeholder text */
  }
  
  .search-input:focus {
    outline: none; /* Remove default outline */
}
  

.searchbtn{
  background-color: rgb(111, 0, 255);
  color: #fff;
  width: auto;
  height: auto;
}

.searchbtn img{
margin: -25px;
    width:15px;
    
}
