/*fonts */
@font-face {
  font-family: 'Bagel'; /* Choose a name; 'calibre' might clash */
  src: url('../public/Bagel.ttf') format('truetype'); /* Path relative to your index.html */
}

/*defaults*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

button {
  border-radius: 10px;
  border: none;
  margin: 10px;
  border-radius: 20px;
  padding: 15px 10px;
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  width: 120px;
  height: auto;
  font-size: large;
  border: 3px solid #000;
  opacity: 0.25;
}
.ads{
  width: 100%;
}

/*bottom navigation bar */
nav ul {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  list-style: none;
  background-color: #ffffff;
  padding: 10px;
  margin: 0px;
  height: 60px;
  position: fixed;
  bottom: -2px;
  z-index: 100;
}

nav ul li {
  margin: 0px;
}

nav ul li a {
  display: flex;
  justify-content: center;
  margin: 0px;
  font-size: medium;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: background-color 0.3s ease;
  padding: 10px;
  border-radius: 10px;
  opacity: 25%;
  height: 50%;

}

nav img {
  width: 100%;
}

.activex {
  font-size: x-large;
  opacity: 100%;
  background-color: #c4c4c4;
  border: 3px solid #000;
  border-radius: 15px;
}


/*bottom navigation bar */
.statusbar {
  position: fixed;
  top: 0px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  height: 70px;
  background-color: #8c00ff;
  z-index: 100;

  /* Ensure it stays above other elements */
}

.statusbar h1 {
  font-size: x-large;
  padding: 10px;
}




/*Home page*/
.maindiv{
  display: flex;
}
/* Media query for smaller screens (mobile) */
@media (max-width: 768px) {
  .maindiv {
display: block; }
}


.matches{
display: flex;
flex-wrap: wrap;
justify-items: center;
justify-content: center;
width: 100%;
}

/* Media query for smaller screens (mobile) */
@media (max-width: 768px) {
  .matches {
  display: block;
}
}




/*Leader board Page*/
.leaderboard-table {
  width: 90vw;
  border-collapse: collapse;
  margin-top: 70px;
  margin: 5vw;

}
.leaderboard-table td {
  border: 1px solid #dddddd00;
  padding: 8px;
  text-align: left;
}

.leaderboard-table th {
  border: 1px solid #00000000;
  background-color: #00000073;
  /* Header background color */
  color: rgb(250, 250, 250);
}

.button-container {
  margin-bottom: 20px;
}

button {
  margin-right: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.highlight-row {
  background-color: #8c00ff;
  color: white;
  /* Light blue background for the user1 row */
}



/* Match card*/
.matchcard {
  transform: scale(0.98);
    background-color: #ebebeb;
    border-radius: 15px;
   transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    overflow: hidden;
    cursor: pointer;
    margin: 15px;
    padding: 10px;
    display: flex; 
    flex-direction: column;
    width:calc(100vw /5.3);
    height:auto;
    border: 3px solid #ffffff6e;
  }


    /* Media query for smaller screens (mobile) */
  @media (max-width: 768px) {
      .matchcard {
        width:85vw;
        height:auto
  }
    }
  
  
  .matchcard p{
    margin: 0;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.479);
  }

  .matchcard img {
    width: 100%;
    height:auto;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .matchcard h2 {
    margin: 0;
    color: rgb(0, 0, 0);
    margin-top: 5px;
    font-size: 19px;
    font-weight:500;
  }
  
  .match-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin:0;
  }
  
  .matchcard:hover {
    transform: scale(1.02);
    background-color: #ffffff;
    box-shadow: 0 50px 100px rgba(0, 0, 0, 0.363);
  }
  
  .matchcard:active {
    transform: scale(0.98);
  }
  
  .matchcard .status{
    position:relative;
    top:-50px;
    width: fit-content;
    padding: 6px 12px;
    border-radius: 5px;
    background-color: #8c00ff;
    color: rgb(255, 255, 255);
    margin: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .matchcard .prize{
    font-size: medium;
    color: rgb(0, 0, 0);
  }








  
  /*Search filter */
.searchdiv{
  width:100%;
  position:fixed;
  top:0px;
  z-index: 999;
  right: 0px;
}
/* Media query for smaller screens (mobile) */
@media (max-width: 768px) {
  .searchdiv {
    width: 100%;
    position:fixed;
    top:100px;
}
}
  .searchfilter input {
    border: none;
    padding: 10px;
    background-color: #ffffff; /* Dark background */
    color: #000000; /* White text */
    font-size: 16px;
    transition: border 0.3s ease;
    z-index: 999;
    margin: 10px;
    width:calc(25vw - 40px);
    height:30px;
    border-radius: 10px;
    position: fixed;
    right: 0px;
    border: 3px solid #000000;
  }
  @media (max-width: 768px) {
  .searchfilter input  {
    width:calc(100% - 40px);
  }
  }
  .search-input::placeholder {
    color: #888888; /* Lighter placeholder text */
  }
  .search-input:focus {
    outline: none; /* Remove default outline */
}








/* Splash */
.splash-screen {
  overflow-y: none;
  overflow-x: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #8c00ff;
  color: #ffffff;
  margin: 0px;
}








/* Splash.css */
@keyframes dropDown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.splash-screen img {
  animation: dropDown 2.5s ease-out;
  opacity: 0; /* Start hidden */
  animation-fill-mode: forwards; /* Retain final state after animation */
  width: 150px;
  height: auto;
 }









 /* Match History */
.match-history {
  margin-top: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin:5vw;
  width:90vw;
}
th, td {
  padding: 10px;
  text-align: left;
  font-size: small;
  border: 1px solid #00000000;
}

th {
  background-color: #00000073; /* Header background color */
  color: rgb(255, 255, 255);

}
tbody tr:hover {
  background-color: #000000; /* Highlight row on hover */
  color:white;
  font-size: xx-large;
}



/*dashboard*/
.dashboard{
  text-align: center;
}
.dashboard img{
  width: 20vw;
  height: 20vw;
  margin: 10px;
  border-radius:100px;
  padding: 10px;
}


/*signin*/
.signin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-top: 0px;
  min-height: 100vh;
  background-color: #ffffff
}


.logout {
  position: absolute;
  bottom: 100px;
  width: 100vw;
  text-align: center;
  background-color: #1916227a;
  backdrop-filter: blur(2px);
  /* Apply blur effect */
}

.header {
  margin-top: 0px;
  text-align: center;
  margin-bottom: 20px;
}

.header img {
  width: 100vw;
}

.logo {
  width: 150px;
  margin-bottom: 10px;
}

.tagline {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 15px;
}

.games-list {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
}

.pop {
  position: relative;
  top: 0px;
}

.pop-left {
  background-color: #8c00ff;
  box-shadow: 10px 10px #000;
  color: rgb(255, 255, 255);
  padding: 10px;
  width: 65vw;
  position: relative;
  right: 5vw;
  font-size: 25px;
  font-weight: bold;
  margin: 20px;
}

.pop-right {
  background-color: #ffffff;
  box-shadow: 10px 10px #000;
  color: rgb(0, 0, 0);
  padding: 10px;
  width: 65vw;
  position: relative;
  left: 13vw;
  font-size: 25px;
  font-weight: bold;
  margin: 20px;
}

.signin-container h3 {
  color: #fff;
  font-size: x-large;
  margin: 20px;
  width: 50vw;
  position: relative;
  right: 20vw;
}

.pop {
  position: relative;
  top: 0px;
}

.signin-container h3 {
  color: #fff;
  font-size: x-large;
  margin: 20px;
  width: 50vw;
  position: relative;
  right: 20vw;
}

.signin {
}

.signin button{
  border: 3px solid hsla(0, 0%, 0%, 0);
  background-color: #8c00ff;
  padding: 11px;
  color: #fff;
  width: 200px;
}
.signin-container img{ 
  border-radius: 100px;
  width: 100px;
  height: 100px;
}


.title {
  font-size:60px;
  margin: 0;
  font-weight: normal;
  font-family: "Bagel"; /* Ensure the font is loaded correctly */
  color: #000000;
}


.subtitle {
  font-size: 20px;
  margin: 4px 0;
  color: grey;
}

.about {
  color: rgb(36, 36, 36);
  font-size: large;
}

.about h2{
  font-size:30px;
  margin: 0;
  font-weight: normal;
  font-family: "Bagel"; /* Ensure the font is loaded correctly */
  width: 80vw;
  color: #000000;
  text-decoration: underline #8c00ff;
}






















/*MatchDetails*/
.matchdetails img {
  border-radius: 10px;
}

.matchdetails h1 {
  color: #000000;
  font-size: 45px;
  text-align: center;
}

.matchdetails .prize {
  color: rgb(255, 255, 255);
  font-size: x-large;
}

.pop-left2 {
  color: #8c00ff;
  padding:0px;
  max-width:40vw;
  height: min-content;
  position: relative;
  right: 5vw;
  font-size: 20px;
  font-weight: bold;
  margin: 15px;
  margin-top: 0px;
  border-radius: 10px;
}

.pop-right2 {
  color: rgb(0, 0, 0);
  background-color: #00000013;
  padding: 10px;
  font-size: 18px;
  margin: 0px;
  margin-bottom: 30px;
  border-radius: 10px;
  max-width:70vw;
}