/*fonts */
@font-face {
  font-family: 'Bagel'; /* Choose a name; 'calibre' might clash */
  src: url('../public/Bagel.ttf') format('truetype'); /* Path relative to your index.html */
}

/*defaults*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

button {
  border-radius: 10px;
  border: none;
  margin: 10px;
  border-radius: 20px;
  padding: 15px 10px;
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  width: 120px;
  height: auto;
  font-size: large;
}


/*bottom navigation bar */
nav ul {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  list-style: none;
  background-color: #ffffff;
  border-top: 1px solid #f14602;
  padding: 10px;
  margin: 0px;
  height: 60px;
  position: fixed;
  bottom: -2px;
  z-index: 100;
}

nav ul li {
  margin: 0px;
}

nav ul li a {
  display: flex;
  justify-content: center;
  margin: 0px;
  font-size: medium;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: background-color 0.3s ease;
  padding: 10px;
  border-radius: 10px;
  opacity: 25%;
  height: 50%;

}

nav img {
  width: 100%;
}

.activex {
  font-size: x-large;
  opacity: 100%;
  background-color: #c4c4c4;
  border-radius: 15px;
}


/*bottom navigation bar */
.statusbar {
  border-bottom: 1px solid #ffffff;
  position: fixed;
  top: 0px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  height: 70px;
  background-color: #f14602;
  z-index: 100;
  /* Ensure it stays above other elements */
}

.statusbar h1 {
  font-size: x-large;
  padding: 10px;
}




/*Home page*/
.maindiv{
  display: flex;
}
/* Media query for smaller screens (mobile) */
@media (max-width: 768px) {
  .maindiv {
display: block; }
}


.matches{
display: flex;
flex-wrap: wrap;
}

/* Media query for smaller screens (mobile) */
@media (max-width: 768px) {
  .matches {
  display: block;
}
}




/*Leader board Page*/
.leaderboard-table {
  width: 90vw;
  border-collapse: collapse;
  margin-top: 70px;
  margin: 5vw;

}
.leaderboard-table td {
  border: 1px solid #dddddd00;
  padding: 8px;
  text-align: left;
}

.leaderboard-table th {
  border: 1px solid #00000000;
  background-color: #00000073;
  /* Header background color */
  color: rgb(250, 250, 250);
}

.button-container {
  margin-bottom: 20px;
}

button {
  margin-right: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.highlight-row {
  background-color: #6709ff85;
  /* Light blue background for the user1 row */
}